/*
 * Globals
 */

html {
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeitiSC-Light,simsun,\\5B8B\4F53,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
    /*-moz-osx-font-smoothing: grayscale;*/
    -webkit-font-smoothing: antialiased;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: normal;
    color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

a{
    color: #212121;
    color: rgba(0,0,0,.87);
}
a:focus, a:hover {
    color: #4184F3;
    text-decoration: none;
}
/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 24px;
    font-weight: 500;
    color: #212121;
    color: rgba(0,0,0,.87);
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #212121;
    color: rgba(0,0,0,.87);
    text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #e5e5e5 solid !important;
    margin-bottom: 24px;
}
.blog-title {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    font-size: 20px;
    color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
    font-size: 15px;
    line-height: 1.5;
}
.blog-main a{
    color: #4184F3;
    /*color: rgba(0,0,0,.87);*/
}

.blog-main img{
    /*width: 100%;*/
    width: 84%;
    padding-left: 8%;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}
.sidebar-module-inset {
    padding: 15px;
    /*background-color: #f5f5f5;*/
    border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}


/* Pagination */
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 36px;
    color: #212121;
    color: rgba(0,0,0,.87);
    font-size: 15px;
    line-height: 1.5;
}
.blog-post img{
    width: 84%;
    padding-left: 8%;
}
.blog-post-title {
    color: #212121;
    color: rgba(0,0,0,.87);
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 26px;
}
.blog-post-title>a{
    color: #212121;
    color: rgba(0,0,0,.87);
}
.blog-post-title>a:focus, a:hover{
    color: #4184F3;
    text-decoration: none;
}
.blog-post-meta {
    margin-bottom: 8px;
    color: #999;
}

.blog-title-post-title{
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 34px;
}

/*
 * Footer
 */

.blog-footer {
    /*background-image: url("../image/bg.png");*/
    padding: 24px 0;
    color: #212121;
    color: rgba(0,0,0,.87);
    text-align: left;
    /*background-color: #588C73;*/
    border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
    margin-bottom: 0;
}

.blog-post .post_excerpt_image_block{
    width: 20%;
    overflow: hidden;
}
.blog-post .post_excerpt_content_block{
    width: 70%;
    float: right;
}

.myrowhight{
    height: 256px;
}

.li-chevon{
    background: url(../image/li-chevron.png) 0 5px no-repeat;
    padding: 5px 15px 5px 25px;
    background-position: 15px 10px;
}
.posts-list{
    padding-left: 0px;
}