---
layout: default
---
{% for post in site.posts %}
<div class="blog-post">
    <div class="blog-post-title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </div>
    <p class="blog-post-meta">{{ post.author }} 发表于 {{ post.date|date: "%b %-d, %Y" }}
        {% for tag in post.tags %}
        <a href="/tags#{{tag}}" class="label label-default"><span class="glyphicon glyphicon-tag"></span>{{tag}}</a>
        {% endfor %}
        <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <a href="/categories#{{ post.category }}">{{ post.category }}</a>
    </p>
    {{ post.excerpt}}
    <a style="color: #4184F3" href="{{ post.url | prepend: site.baseurl }}">...read more</a>
</div>
{% endfor %}