---
layout: default
---
<div class="container">
    <div class="blog-main">
        {% for post in site.posts %}
        <div class="blog-post">
            <h2 class="blog-post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <ul class="blog-post-meta">
                <li class="meta-item">
                    <i class="icon-calendar"></i>
                    {{ post.date | date: "%b %-d, %Y" }}
                </li>

                <li class="vcard fn meta-item">
                    <i class="icon-user"></i>
                    {% if post.author %} {{ post.author }}{% endif %}
                </li>

                <li class="meta-item">
                    <i class="icon-folder-close"></i>
                    <a href="#">{{ post.categories }}</a>
                </li>
            </ul>
            <div class="blog-post-body markdown-body">
                {{ post.content }}
            </div>
        </div><!-- /.blog-post -->
        {% endfor %}
    <nav>
        <ul class="pager">
        <li><a href="http://v3.bootcss.com/examples/blog/#"><i class="icon-arrow-left"></i></a></li>
        <li><a href="http://v3.bootcss.com/examples/blog/#"><i class="icon-arrow-right"></i></a></li>
        </ul>
    </nav>
    </div>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- gg_ad_01 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4709543926742466"
         data-ad-slot="8843989631"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'liyancodeblog';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
