<div class="container">
  <div class="blog-footer">
    <div class="right">
      <p>
        <a href="https://github.com/liyancode" target="_blank" aria-label="Homepage" title="GitHub">
          My GitHub
        </a>
          <i class="icon-github"></i>
      </p>
    </div>
    <div class="center">
      <p>
        © liyan.code@gmail.com
      </p>
    </div>
    <!--<ul class="blog-footer-links">-->
      <!--<li>-->
          <!--<i class="icon-th-large"></i>-->
        <!--<a href="/">Home</a>-->
      <!--</li>-->
      <!--<li>-->
          <!--<i class="icon-coffee"></i>-->
          <!--<a href="{{ "/posts/" | prepend: site.baseurl }}">-->
          <!--Posts-->
          <!--</a>-->
      <!--</li>-->
      <!--<li>-->
          <!--<i class="icon-lemon"></i>-->
        <!--<a href="{{ "/about/" | prepend: site.baseurl }}">-->
        <!--About-->
        <!--</a>-->
      <!--</li>-->
    <!--</ul>-->
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- gad_02 -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-4709543926742466"
       data-ad-slot="9173563635"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
