<div class="container">
  <div class="blog-footer">
    <div class="right">
      <p>
        Proudly hosted by
        <a href="https://github.com" target="_blank" aria-label="Homepage" title="GitHub">
          GitHub
        </a>
          <i class="icon-github"></i>
      </p>
    </div>
    <div class="center">
      <p>
        © 2015 liyancode
      </p>
    </div>
    <ul class="blog-footer-links">
      <li>
          <i class="icon-th-large"></i>
        <a href="/">Home</a>
      </li>
      <li>
          <i class="icon-coffee"></i>
          <a href="{{ "/posts/" | prepend: site.baseurl }}">
          Posts
          </a>
      </li>
      <li>
          <i class="icon-lemon"></i>
        <a href="{{ "/about/" | prepend: site.baseurl }}">
        About
        </a>
      </li>
    </ul>
  </div>
</div>