<div id="container">
    <header id="page_header">
        <div id="page_title" class="span5">
            <a href="#" title="Yan Li's Blog">{:liyancode=>THIS}</a>
        </div>
        <div class="span7" id="nav_tabs">
            <nav>
                <ul class="tabs">
                    <li><a href="#">Index</a></li>
                    <li><a href="#">Posts</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--<section id="img_section"></section>-->