<div class="site">
    <header class="site-header" role="banner">
    <a class="site-logo" href="/">
        <img class="no-grav" src="{{ '/image/yanli.png' | prepend: site.baseurl }}">
    </a>
    <hgroup>
        <h1 class="site-title">
            <a href="/" rel="home">Yan Li</a>
        </h1>
        <h2 class="site-description">生活体+工作体+文艺体<br>活 为了活 活好</h2>
        <h2 class="site-description"></h2>
    </hgroup>
    <nav role="navigation" class="site-navigation main-navigation">
        <h1 class="assistive-text">Menu</h1>
        <div class="menu-navigation-container">
            <ul id="menu-navigation" class="menu">
                <li id="menu-item-176" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176">
                    <a href="#">Link1</a>
                </li>
                <li id="menu-item-177" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176">
                    <a href="#">Link1</a>
                </li>
                <li id="menu-item-178" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176">
                    <a href="#">Link1</a>
                </li>
                <li id="menu-item-179" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-176">
                    <a href="#">Link1</a>
                </li>
            </ul>
        </div>
    </nav>
</header>