<div class="blog-header">
  <div class="container">
    <h1 class="blog-title"></h1>
    <p class="lead blog-description">The fountain height does not higher than its source, one's career is also so, her achievements will never be more than their ideal.----Abraham Lincoln</p>
  </div>
</div>
<div class="blog-masthead">
  <div class="container clearfix">
    <ul class="header-nav left" role="navigation">
      <li class="header-nav-item">
          <i class="icon-th-large"></i>
        <a href="/" class="header-nav-link">
          Home
        </a>
      </li>
      <li class="header-nav-item">
          <i class="icon-coffee"></i>
        <a href="{{ "/posts/" | prepend: site.baseurl }}" class="header-nav-link">
        Posts
        </a>
      </li>
      <li class="header-nav-item">
          <i class="icon-lemon"></i>
        <a href="{{ "/about/" | prepend: site.baseurl }}" class="header-nav-link">
          About
        </a>
      </li>
    </ul>
  </div>
</div>
