{% comment%}
Here we generate all the categories.
{% endcomment%}

{% assign rawcats = "" %}
{% for post in site.posts %}
{% assign tcats = post.category | join:'|' | append:'|' %}
{% assign rawcats = rawcats | append:tcats %}
{% endfor %}

{% assign rawcats = rawcats | split:'|' | sort %}

{% assign cats = "" %}

{% for cat in rawcats %}
{% if cat != "" %}

{% if cats == "" %}
{% assign cats = cat | split:'|' %}
{% endif %}

{% unless cats contains cat %}
{% assign cats = cats | join:'|' | append:'|' | append:cat | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for post in site.posts %}
{% assign ttags = post.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}
<div class="col-sm-12 col-md-2 col-sm-offset-1 blog-sidebar">
    <hr/>
    <a href="/about"><img src="/image/myicon.jpg" style="width: 100%; margin-bottom: 8px;"></a>
    <p style="font-size: 4px;color: #999">111001101001010110110000 111001011010110110010111 111001101001110010101010 111001101001110110100101 111011111011110010001100 111001001011100010000000 111001011000100010000111 111010011000001110111101 111001001011110010011010 111001101011000010111000 111001111001010010011111 111011111011110010001100 111001011001010010101111 111001101001110010001001 111001101010110110111011 111001111010010110011110 111010011000000010011101 111001011000111010111011</p>
    <p style="font-size: 12px;color: #999">数字未来，一切都会永生，唯有死神逝去</p>
    <hr/>
    <h4>分类</h4>
    <div>
        <ul class="posts-list">
            {% for ct in cats %}
            <li class="list-unstyled">
                <a href="/categories/#{{ct}}" style="text-decoration: none">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    {{ct}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr/>
    <h4>标签</h4>
    <div>
        {% for tag in tags %}
        <a href="/tags/#{{tag}}" style="text-decoration: none;margin: 1px; display: inline-block;" class="label label-default">
            <span class="glyphicon glyphicon-tag"></span>
            {{tag}}
        </a>
        {% endfor %}
    </div>
</div>