<!--<div class="col-sm-12 col-md-3 col-md-offset-1 blog-sidebar">-->
    <!--<div class="sidebar-module sidebar-module-inset">-->
        <!--<img src="/image/aboutme.png" width="210px">-->
    <!--</div>-->
<!--</div>-->
<div class="col-sm-12 col-md-2 col-sm-offset-1 blog-sidebar">
    <!--<a href="/about"><img src="/image/aboutme-min.png" style="width: 100%;"></a>-->
    <!--<div class="sidebar-module sidebar-module-inset">-->
        <!--<iframe src="http://api.humancalendar.com/iframe.php?t=2x2&s=215" width="215" height="215" border="0" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>-->
        <!--<br>-->
        <!--<div style="margin-top: 50px;">-->
            <!--<script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=cbe090&w=215&d=p1FVfEI1cjGN-upnZ7YCZEYipYUvrKz4AaTeMBntyT0&co=2d78ad&ct=ffffff&t=tt&cmo=3acc3a&cmn=ff5353"></script>-->
        <!--</div>-->
        <!--<br>-->
        <!--&lt;!&ndash;<iframe width="100%" height="350" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=1&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=1&isFans=0&uid=1892943350&verifier=0cb325a7&dpc=1"></iframe>&ndash;&gt;-->
        <!--<br>&lt;!&ndash;<h4>About</h4>&ndash;&gt;-->
        <!--&lt;!&ndash; Exchange Rates Script - EXCHANGERATEWIDGET.COM &ndash;&gt;-->
        <!--<div style="width:198px;border:1px solid #4A4A4A;text-align:left;"><div style="text-align:left;background-color:#4A4A4A;width:100%;border-bottom:0px; font-size:12px;font-weight:bold;padding:5px 0px;"><span style="margin-left:2px;background-image:url(//www.exchangeratewidget.com/flag.png); background-position: 0 -1232px; width:100%; height:15px; background-repeat:no-repeat;padding-left:5px;"><a href="https://www.exchangeratewidget.com/" style="color:#FFFFFF; text-decoration:none;padding-left:22px;" rel="nofollow">US Dollar Exchange Rates</a></span></div><script type="text/javascript" src="//www.exchangeratewidget.com/converter.php?l=en&f=USD&t=EUR,CNY,JPY,HKD,GBP,CHF,CAD,AUD,ZAR,RUB,BRL,MXN,&a=1&d=D6D6D6&n=FFFFFF&o=000000&v=5"></script></div>-->
        <!--&lt;!&ndash; End of Exchange Rates Script &ndash;&gt;-->
        <!--&lt;!&ndash;<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="sidebar-module">-->
        <!--<h4>Archives</h4>-->
        <!--<ol class="list-unstyled">-->
            <!--{% for post in site.posts %}-->
            <!--<li><a href="#">{{ post.date|date: "%b %Y"}}</a></li>-->
            <!--{% endfor %}-->
            <!--&lt;!&ndash;<li><a href="#">March 2014</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">February 2014</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">January 2014</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">December 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">November 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">October 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">September 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">August 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">July 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">June 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">May 2013</a></li>&ndash;&gt;-->
            <!--&lt;!&ndash;<li><a href="#">April 2013</a></li>&ndash;&gt;-->
        <!--</ol>-->
    <!--</div>-->
    <!--<div class="sidebar-module">-->
        <!--<h4>Elsewhere</h4>-->
        <!--<ol class="list-unstyled">-->
            <!--<li><a href="#">GitHub</a></li>-->
            <!--<li><a href="#">Twitter</a></li>-->
            <!--<li><a href="#">Facebook</a></li>-->
        <!--</ol>-->
    <!--</div>-->
</div>