<!--<!DOCTYPE html>-->
<!--<html>-->

  <!--{% include head0.html %}-->

  <!--<body>-->

    <!--{% include header0.html %}-->

    <!--<div id="page-content" class="page-content">-->
      <!--<div class="wrapper">-->
        <!--{{ content }}-->
      <!--</div>-->
    <!--</div>-->

    <!--{% include footer0.html %}-->

  <!--</body>-->

<!--</html>-->
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

    {% include header.html %}

        {{content}}

    {% include footer.html %}

</body>
</html>

