<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<div class="container">
    <!--<div class="blog-header">-->
        <!--&lt;!&ndash;<h1 class="blog-title-post-title " style="font-size: 20px;color: #999;"><code>while(earth_rotating){eat();sleep();coding();}</code></h1>&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>&ndash;&gt;-->
    <!--</div>-->
    <div class="row">
        <div class="col-sm-12 col-md-12 blog-main">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</div>

<!--{% include footer.html %}-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ '/js/ie10-viewport-bug-workaround.js' | prepend: site.baseurl }}"></script>
</body>
</html>


