<!DOCTYPE html>
<html>

{% include head.html %}

<body>
{% include header.html %}

<div class="container">
    <div class="blog-header">
        <h1 class="blog-title-post-title ">{{ page.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-8 blog-main">
            <p class="lead blog-description">{{ page.date|date: "%b %-d, %Y" }}, {{ page.author }}</p>
            {{ content }}
            <div id="disqus_thread" class="col-sm-12 col-md-8"></div>
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div id="disqus_thread" class="col-sm-12 col-md-8"></div>-->
                <!--</div>-->
            <!--</div>-->
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = 'liyancodeblog';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
        {% include sidebar.html %}
    </div>
    {% include footer.html %}
</div>

<!--{% include footer.html %}-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{{ '/js/ie10-viewport-bug-workaround.js' | prepend: site.baseurl }}"></script>
</body>
</html>
